<ion-view title="{{campaign.campaign_name}}">
    <ion-nav-buttons>
        <a href="#/tab/date-picker" class="ion-calendar"></a>
    </ion-nav-buttons>
    <ion-content has-header="true">
    	<div class="date-header">
    		12 June 2014 - 21 August 2014
		</div>
        <ion-list>
            <ion-item class="row row-padded">
				<div class="col col-50">Impressions</div>
				<div class="col col-50 right">{{campaign_details.impressions | formatNumberCommas}}</div>
        	</ion-item>
            <ion-item class="row row-padded">
				<div class="col col-50">Completion Rate</div>
				<div class="col col-50 right">{{campaign_details.completion_rate | formatPercent}}</div>
        	</ion-item>
            <ion-item class="row row-padded">
				<div class="col col-50">Click Rate</div>
				<div class="col col-50 right">{{campaign_details.click_rate | formatPercent}}</div>
        	</ion-item>
            <ion-item class="row row-padded">
				<div class="col col-50">Cost</div>
				<div class="col col-50 right">{{campaign_details.cost | formatPrice}}</div>
        	</ion-item>
  			<div class="item item-divider">
    			Placements
  			</div>
            <ion-item class="placement" ng-repeat="placement in placements" type="item-text-wrap"href="#/tab/campaigns/{{campaign.campaign_key}}/placements/{{placement.placement_id}}">
            	<div class="placement-error-dot" ng-show="isError(placement.status)"></div>
                <div class="placement-name">{{placement.placement_name}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>