<div class="loading" ng-show="overlay_on" ng-class="{active: overlay_animate}">
    <img class="loading-icon" src="./img/loading.png">
    <div class="loading-text">Logging in...</div>
    <div class="loading-code"></div>
</div>
<ion-view title="Sign-In">
    <ion-content padding="true">
        <img class="logo" src="./img/logo.png">
        <img class="logo-name" src="./img/logo_name.png">
        <div class="list">
            <label class="item item-input login-username">
                <span class="login-label">Username</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input login-password">
                <span class="login-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <button class="login-button button button-block button-positive tm-button-blue" ng-click="signIn(user)">
            Login
        </button>
    </ion-content>
</ion-view>