<ion-view title="Sign-In">
    <ion-content>
        <img class="logo" src="img/logo.png">
        <img class="logo-name" src="img/logo_name.png">
        <div class="list">
            <label class="item item-input">
                <span class="login-label">Username</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="login-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <button class="login-button button button-block button-positive" ng-click="signIn(user)">
            Sign-In
        </button>
        <a href="#/forgot-password" class="hide-link">
            <button class="login-button button button-block button-positive">
                Forgot Password
            </button>
        </a>
    </ion-content>
</ion-view>