<ion-view title="{{placement.campaign_placement_name}}">
    <!-- TODO: attach swipe right handler on-swipe-right="onSwipeRight()" -->
    <ion-content has-header="true" padding="true">
        <div ng-include src="'templates/partials/_date-picker.html'"></div>
        <ion-list>
  			<div class="item item-divider">
    			Placement Details
  			</div>
            <ion-item>
            	<div class="row details-header">
  					<div class="col col-50">Impressions</div>
  					<div class="col col-50">Completion Rate</div>
  				</div>
            	<div class="row">
  					<div class="col col-50">{{placement_details.impressions | formatNumberCommas}}</div>
  					<div class="col col-50">{{placement_details.completion_rate | formatPercent}}</div>
  				</div>
  				<div class="details-header-divider"></div>
            	<div class="row details-header">
  					<div class="col col-50">Click Rate</div>
  					<div class="col col-50">Cost</div>
  				</div>
            	<div class="row">
  					<div class="col col-50">{{placement_details.click_rate | formatPercent}}</div>
  					<div class="col col-50">{{placement_details.cost | formatPrice}}</div>
  				</div>
        	</ion-item>
            <ion-item>
	            {{placement.start_time}} to {{placement.end_time}}
	        </ion-item>
        </ion-list>
    </ion-content>
</ion-view>