<ion-view title="Select Dates">
    <ion-nav-buttons>
        <a href="#/tab/date-picker" class="ion-calendar"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="date-range">
            <label class="item item-input">
                <span class="input-label">Start Date</span>
                <input type="date" ng-model="dateState.start" required>
            </label>
            <label class="item item-input">
                <span class="input-label">End Date</span>
                <input type="date" ng-model="dateState.end" required>
            </label>
        </div>

        <div class="picker-buttons row">
            <button class="col-25 col-offset-25" id="cancel" ng-click="goBack()">Cancel</button>
            <button class="col-25" id="save" ng-click="updateDateState(dateState.start, dateState.end)">Save</button>
        </div>
    </ion-content>
</ion-view>