<!-- TODO: why does the title not show? -->
<ion-view title="Date picker">
    <ion-content class="has-header" padding="true">
        <div class="date-range">
            <input type="date"><input type="date">
        </div>
        <label class="item item-input">
            <span class="input-label">Start Date</span>
            <input type="date">
        </label>

        <label class="item item-input">
            <span class="input-label">End Date</span>
            <input type="date">
        </label>
    </ion-content>
</ion-view>