<ion-view title="Select Dates">
    <ion-nav-buttons>
        <a href="#/tab/date-picker" class="ion-calendar"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="date-range">
            <label class="item item-input">
                <span class="input-label">Start Date</span>
                <input type="date" value="2014-08-02">
            </label>
            <label class="item item-input">
                <span class="input-label">End Date</span>
                <input type="date" value="2014-09-12">
            </label>
        </div>

        <div class="picker-buttons">
            <button id="cancel" ng-click="goBack()">Cancel</button>
            <button id="save" ng-click="goBack()">Save</button>
        </div>
    </ion-content>
</ion-view>