<ion-view title="Campaigns">
    <ion-nav-buttons>
        <a href="#" class="ion-plus"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item-divider">cadreon.us@tubemogul.com</ion-item>
            <ion-item ng-repeat="campaign in cadreon_campaigns" type="item-text-wrap" href="#/tab/campaigns/cadreon.us@tubemogul.com/ak0Y3lt4lr2RacUNYH03">
                2014 Johnson's Baby NMT Video
			    <div class="item-next ion-chevron-right"></div>
            </ion-item>
            
            <ion-item class="item-divider">accuen.us@tubemogul.com</ion-item>
            <ion-item ng-repeat="campaign in accuen_campaigns" type="item-text-wrap" href="#/tab/campaigns/accuen.us@tubemogul.com/fn4fUF1wLGN7D5YX3vqX">
                Mitsubishi Q2 Upper Funnel 2014
			    <div class="item-next ion-chevron-right"></div>
            </ion-item>
            
            <ion-item class="item-divider">btacy@doner.com</ion-item>
            <ion-item ng-repeat="campaign in btacy_campaigns" type="item-text-wrap" href="#/tab/campaigns/btacy@doner.com/geLeRHA85447IMxdZh8E">
                2014 Detroit Zoo Summer Plan
			    <div class="item-next ion-chevron-right"></div>
            </ion-item>
            
            <ion-item class="item-divider">rtb_tests@tubemogul.com</ion-item>
            <ion-item ng-repeat="campaign in rtb_tests_campaigns" type="item-text-wrap" href="#/tab/campaigns/rtb_tests@tubemogul.com/U99AkIDItAJ6KupW4cDF">
                {{campaign.campaign_name}}
			    <div class="item-next ion-chevron-right"></div>
            </ion-item>
           
        </ion-list>
    </ion-content>
</ion-view>