<ion-view title="Campaigns">
    <ion-nav-buttons>
        <button class="add-campaign ion-plus"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <div ng-include src="'templates/partials/_date-picker.html'"></div>
        <ion-list>
            <!-- TODO: Campaigns are hard coded to be divided into 3 sets -->
            <!-- Current user's campaigns -->
            <ion-item class="item-divider">tubemogul_demo@tubemogul.com</ion-item>
            <ion-item ng-repeat="campaign in campaigns" type="item-text-wrap" href="#/tab/campaigns/{{campaign.id}}">
                {{campaign.campaign_name}}
            </ion-item>

            <!-- Test's campaigns -->
            <ion-item ng-if="testsCampaigns" class="item-divider">test@tubemogul.com</ion-item>
            <ion-item ng-repeat="campaign in testsCampaigns" type="item-text-wrap" href="#/tab/campaigns/{{campaign.id}}">
                {{campaign.campaign_name}}
            </ion-item>

            <!-- Tickle's campaigns -->
            <ion-item ng-if="ticklesCampaigns" class="item-divider">tickle@tubemogul.com</ion-item>
            <ion-item ng-repeat="campaign in ticklesCampaigns" type="item-text-wrap" href="#/tab/campaigns/{{campaign.id}}">
                {{campaign.campaign_name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>