<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">
    <ion-tab title="Campaigns" icon="icon ion-map" href="#/tab/campaigns">
        <ion-nav-view name="tab-campaigns"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Date Picker (Test)" icon="icon ion-calendar" href="#/tab/date-picker">
        <ion-nav-view name="tab-date-picker"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Logout" icon="icon ion-power" href="/login">
        <ion-nav-view name="login"></ion-nav-view>
    </ion-tab>
</ion-tabs>