/* Tube Mobile */
/* General CSS */
.right {
	text-align: right;
}
.hide-link {
  text-decoration: none;
}
.bar.bar-stable {
	background: #51b1d9;
}
.bar.bar-stable .title {
	color: white;
	font-size: 12px;
	text-transform: uppercase;
}
.button.button-positive {
	border: none;
}
.button.tm-button-blue {
	background: #4faed4;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
}
.button.tm-button-blue:active {
	background: #79c2df;
}
.row-padded,
.row + .row.row-padded {
	padding: 20px 25px;
}