/* Campaigns and Placements */
.placement {
  	position: relative;
}
.placement-name {
  	padding-left: 20px;
}
.placement-error-dot {
  	background-color: #e9454b;
  	-moz-border-radius: 50%;
  	-webkit-border-radius: 50%;
  	border-radius: 50%;
  	display: inline-block;
  	height: 8px;
  	position: absolute;
  	left: 17px;
  	top: 23px;
  	width: 8px;
}

.special-dot {
  left: 14px;
  top: 31px; 
}

.details-header .col {
  	font-size: 12px;
  	font-weight: 700;
  	text-transform: uppercase;
}
.details-header-divider {
  	height: 10px;
}
.date-header {
	color: #777;
	font-size: 12px;
	padding: 7px 0;
	text-align: center;
	width: 100%;
}
.add-campaign {
  	position: absolute;
  	right: 24px;
  	top: 10px;
}
.add-campaign:before {
  	color: black;
  	height: 25px;
  	font-size: 24px;
  	height: 10px;
}
.item-next {
	color: #999;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -10px;
}