.header-icon {
  position: absolute;
  right: 3%;
  z-index: 1;
  top: 9px;

  &:before {
    color: white;
    font-size: 24px;
  }
}

.back-button {
  color: white;
  &:before {
    color: white;
  }
}

.ion-plus {
  @extend .header-icon;
}

.ion-calendar {
  @extend .header-icon;
  width: 30px;
}
.ion-power {
  @extend .header-icon;
  left: 3%;
  width: 30px;
}
.ion-chevron-left {
  @extend .header-icon;

  left: 3%;
  width: 30px;
}