/* Login */
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to {-webkit-transform: rotate(360deg); }
}
.loading {
	background: white;
	opacity: 0;
	position: fixed;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
	height: 100%;
	width: 100%;
	z-index: 99999999;
}
.loading.active {
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
	opacity: 1;
}
.loading-icon {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: .8s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
	position: fixed;
	height: 80px;
	width: 80px;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -40px;
}
.loading-text {
	color: #777;
	position: fixed;
	width: 100%;
	text-align: center;
	top: 50%;
	text-transform: uppercase;
	margin-top: 40px;
}
.logo {
  display: block;
  margin: 15px auto 0;
  width: 150px;
}

.logo-name {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
}
.login-label {
  color: #555;
  font-size: 14px;
}
.login-button {
  font-weight: 700;
}
.login-username input,
.login-password input {
	padding-left: 20px;
}