/* Login */
.logo {
  display: block;
  margin: 15px auto 0;
  width: 150px;
}

.logo-name {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
}
.login-label {
  color: #555;
  font-size: 14px;
  padding-right: 15px;
}
.login-button {
  font-weight: 700;
}